.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile{
        width:100%;
        order:-1;
      }
      @media @tablet{
        width:75%;
        order:-1;
        margin: auto;
      }
    }   

    .img-content {
      width: 48%;
      padding-left: 1%; 
      @media @mobile{
        width:100%;
      }
      @media @tablet{
        width:75%;
        margin:auto;
      }
      img {
        border-radius: 10px;
        @media @tablet{
          width:100%;
        }
      }
      
    } 
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media @mobile{
      width:100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    @media @tablet{
      flex-direction: column;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @tablet{
        width: 90%;
        margin:15px auto;
        padding-top: 20px;
      }
    }
  } 
}
// home

.top-nav{
  display: flex;
  justify-content: space-between;
  margin: auto;
  // width: 800px;
  border-bottom: 2px dashed @navigation-border;
  @media @tablet{
    width: auto;
  }
  @media @mobile{
    flex-direction:column;
    width:auto;
  }
  .logo{
    font-size: 4rem;
    font-family: 'Indie Flower', cursive;
    padding-left: 100px;
    @media @tablet{
      padding-left:0px;
    }
    @media @mobile{
      text-align:center;
    }
  }
}
.banner{
  width:800px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}  

.btn{
  .btn-mixin(@button-bg, @white );
  @media @tablet{
    .btn-mixin(@button-bg, @white, 75vw);
    margin:auto;
  }
  @media @mobile{
    .btn-mixin(@button-bg, @white, 90vw);
    margin:auto;
  }
}